<html>

<body>
    <table>
        <% for(var i=0; i < docs.length; i++) { %>
            <tr>
                <td>
                    <%= docs[i].ques %>
                </td>
                <td>
                    <%= docs[i].ans %>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>